<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.throehl.mobilitaetsprofil">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/dblogo7"
        android:label="@string/app_name2"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".view.LoginActivity"
            android:launchMode="singleTask">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.ConnectionSearchActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.StartActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:parentActivityName=".view.ConnectionSearchActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.throehl.mobilitaetsprofil.view.ConnectionSearchActivity" />
        </activity>
        <activity
            android:name=".view.DestinationActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:parentActivityName=".view.ConnectionSearchActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.throehl.mobilitaetsprofil.view.ConnectionSearchActivity" />
        </activity>
        <activity
            android:name=".view.FoundConnectionsActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:parentActivityName=".view.ConnectionSearchActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.throehl.mobilitaetsprofil.view.ConnectionSearchActivity" />
        </activity>
        <activity
            android:name=".view.SelectedConnectionsActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:parentActivityName=".view.FoundConnectionsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.throehl.mobilitaetsprofil.view.FoundConnectionsActivity" />
        </activity>
        <activity android:name=".view.CalendarActivity"></activity>

    </application>

</manifest>

<!--
android:label="@string/app_name"
            android:label="@string/app_name"

-->